/*全体*/

body {
  background-color: #ccc;
  color: #191341;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

#wrapper {
  width: 1100px;
  margin: 0 auto;
}

section {
  padding-bottom: 400px;
}


h2 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 30px;
}

h3 {
  font-size: 25px;
  padding-bottom: 10px;
}

.summary {
  font-size: 15px;
  margin-left: 0;
  line-height: 25px;
  width: fit-content;
}


/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/*header*/
header {
  width: 100%;
}

.to_top {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 20px 0 0 20px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}

.icon_top {
  width: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
}

/*menu*/
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333;
  transition: 0.4s;
}

.menu-btn span:nth-child(1) {
  top: 0;
}

.menu-btn span:nth-child(2) {
  top: 14px;
}

.menu-btn span:nth-child(3) {
  bottom: 0;
}

/*サイドメニュー画面外*/
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  background: #1a1446;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 1000;
  pointer-events: auto;
}

/*表示された状態(isopen)*/
.side-menu.is-open {
  opacity: 0.99;
  transform: translateX(0);
  pointer-events: auto;
}

/*×印に変更*/
.menu-btn.is-open span:nth-child(1) {
  transform: rotate(45deg);
  top: 14px;
  background-color: #fff;
}

.menu-btn.is-open span:nth-child(2) {
  opacity: 0;
}

.menu-btn.is-open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 14px;
  background-color: #fff;

}

/*メニュー見た目*/
.side-menu ul {
  list-style: none;
  padding: 120px 40px;
  border-left: 1px #fff solid;
  width: fit-content;
  margin: 40px 0 0 80px;
}

.side-menu li {
  margin-bottom: 30px;
}

.side-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 0.1em;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  padding-bottom: 5px;
  position: relative;
}

.side-menu a::before {
  background: #fff;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.side-menu a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*fv*/
h1 {
  visibility: hidden;
}

#fv {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

#pc {
  display: block;
}

#sp {
  display: none;
}

lottie-player {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*works*/
.works_flex {
  display: flex;
  gap: 20px;
}

.works_left,
.works_right {
  width: 535px;
}

.works_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works_flex li a {
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.works_flex li a:hover {
  opacity: 0.8;
}

/*about*/
.about_flex {
  display: flex;
  padding-left: 100px;
  position: relative;
}

.about_text {
  width: 50%;
  padding-left: 60px;
  padding-top: 100px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

h3 {
  border-bottom: 2px #191341 solid;
}

.about_detail {
  padding-top: 20px;
}

/*contact*/
.contact_content {
  width: 50%;
  margin: 0 auto;
  padding-top: 200px;
}

.contact_content a {
  display: block;
  width: fit-content;
  margin-top: 100px;
  padding: 20px;
  color: #ccc;
  background-color: #BE574E;
  border: 2px #BE574E solid;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.contact_content a:hover {
  color: #BE574E;
  background-color: #ccc;
}

/*footer*/
footer {
  width: 100%;
  color: #fff;
  background-color: #191341;
}

.footer_nav {
  display: flex;
  width: 900px;
  padding: 40px 0 0 200px;
}

.footer_nav li {
  padding-right: 150px;
}

.footer_nav li a {
  color: #fff;
  text-decoration: none;
}

.footer_nav li a:hover {
  opacity: 0.8;
}

.footer_logo {
  padding: 100px 0 0 120px;
}

.copy {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding-top: 50px;
  opacity: 0.5;
}

/*↓page01以降共通↓*/
h4 {
  padding: 40px 0 16px 0;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 24px;
  width: 1000px;
  height: 24px;
  margin: 0 auto;
  padding-left: 550px;
}

h6 {
  font-size: 20px;
  padding: 10px 0 10px 0;
  font-weight: bold;
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

dt {
  display: block;
  width: 50%;
}

dd {
  display: block;
  width: 50%;
}

.production_time dt {
  width: 70%;
  margin-bottom: 10px;
}

.production_time dd {
  text-align: right;
  width: 30%;
}


/*↓page01↓*/
.page01_right a {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 97px;
  left: 225px;
}

.page01_right a img {
  width: 48px;
}

#page01_flex {
  display: flex;
  width: 1010px;
  margin: 0 auto;
}

.page01_left {
  padding-top: 80px;

}

.page01_right {
  width: 400px;
  padding-top: 80px;
  position: relative;
}

/*↓page02↓*/
.page02_flex {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.page02_flex p:first-child {
  padding-top: 150px;
}

#page02_top_left {
  padding-left: 50px;

}

#page02_top_left img {
  width: 500px;
  padding-bottom: 50px;
}

#page02_top_right {
  width: 500px;
  padding-left: 50px;
}

.number img {
  width: 70px;
}

figure {
  padding: 0 0 50px 50px;
}

figure img {
  width: 500px;
}

figcaption {
  width: 500px;
  height: 417px;
  padding-left: 50px;
  position: relative;
}

.detail {
  position: absolute;
  bottom: 0;
}

/*↓page03↓*/
.title_underline {
  width: 400px;
}

article {
  padding: 100px 0 100px 0;
  width: 1100px;
  margin: 0 auto;
}

article h3 {
  margin-bottom: 40px;
}

article p {
  padding-bottom: 40px;
}

/*スライドショー*/
.slide_container {
  width: 100%;
  overflow: hidden;
}

.slide_wrapper {
  display: flex;
  width: max-content;
  animation: slide-flow 40s linear infinite;
}

.slide {
  width: 300px;
  flex-shrink: 0;
  object-fit: cover;
  border: 1px solid #ccc;
}

@keyframes slide-flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*スマートフォン用*/
@media (max-width: 768px) {
  /*全体*/

  #wrapper {
    width: 70%;
    margin: 0 auto;
  }

  section {
    padding-bottom: 100px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .summary {
    font-size: 12px;
    margin-left: 0px;
    line-height: 20px;
  }

  /* スマホで見たときは"sp"のclassがついた画像が表示される */
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  /*header*/
  /*menu*/
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }

  .menu-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    transition: 0.4s;
  }

  .menu-btn span:nth-child(1) {
    top: 0;
  }

  .menu-btn span:nth-child(2) {
    top: 14px;
  }

  .menu-btn span:nth-child(3) {
    bottom: 0;
  }

  /*サイドメニュー画面外*/
  .side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #1a1446;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 1000;
    pointer-events: auto;
  }

  /*表示された状態(isopen)*/
  .side-menu.is-open {
    opacity: 0.99;
    transform: translateX(0);
    pointer-events: auto;
  }

  /*×印に変更*/
  .menu-btn.is-open span:nth-child(1) {
    transform: rotate(45deg);
    top: 14px;
    background-color: #fff;
  }

  .menu-btn.is-open span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.is-open span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 14px;
    background-color: #fff;

  }

  /*メニュー見た目*/
  .side-menu ul {
    list-style: none;
    padding: 120px 40px;
    border-left: 1px #fff solid;
    width: fit-content;
    margin: 40px 0 0 80px;
  }

  .side-menu li {
    margin-bottom: 30px;
  }

  .side-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.1em;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    padding-bottom: 5px;
    position: relative;
  }

  .side-menu a::before {
    background: #fff;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
  }

  .side-menu a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  /*fv*/
  h1 {
    visibility: hidden;
  }

  #fv {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
  }

  #pc {
    display: block;
  }

  #sp {
    display: none;
  }

  lottie-player {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  /*works*/
  .works_flex {
    flex-direction: column;
  }

  .works_left,
  .works_right {
    width: 100%;
  }

  .works_left img,
  .works_right img {
    width: 100%;
  }

  .works_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .works_flex li a {
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  }

  .works_flex li a:hover {
    opacity: 0.8;
  }

  /*about*/
  .about_flex {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: static;
  }

  .about_pic {
    width: 100%;
  }

  .about_pic img {
    width: 170px;
  }

  .about_text {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    position: static;
    padding: 30px 30px 30px 0;
    line-height: 1.5;
  }

  .about_text h3 {
    width: fit-content;
  }

  .about_detail {
    padding-top: 16px;
  }

small{
font-size:10px;
margin-left:20px;
}
  /*contact*/
  .contact_content {
		width:100%;
    padding-left: 0;
    padding-top: 100px;
  }

  .contact_content p {
    line-height: 30px;
  }

  .contact_content a {
    display: block;
    margin-top: 100px auto 0 auto;
    padding: 15px;
  }

  /*form*/
  form {
    background-color: #191341;
  }

  /*footer*/

  .footer_nav {
    display: flex;
    width: 80%;
    padding: 20px 0 40px 0;
    margin: 0 auto;

  }

  .footer_nav li {
    padding-right: 20px;

  }

  .footer_nav li a {
    color: #fff;
    text-decoration: none;
  }

  .footer_nav li a:hover {
    opacity: 0.8;
  }

  .footer_logo {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .footer_logo img {
    width: 50%;
  }

  .copy {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 50px;
    opacity: 0.5;
  }

  /*↓page01以降共通↓*/
  h4 {
    padding: 40px 0 16px 0;
    font-size: 18px;
    font-weight: bold;
  }

  h5 {
    font-size: 24px;
    width: 1000px;
    height: 24px;
    margin: 0 auto;
    padding-left: 550px;
  }

  h6 {
    font-size: 20px;
    padding: 10px 0 10px 0;
    font-weight: bold;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  dt {
    display: block;
    width: 50%;
  }

  dd {
    display: block;
    width: 50%;
  }

  .production_time dt {
    width: 70%;
    margin-bottom: 10px;
  }

  .production_time dd {
    text-align: right;
    width: 30%;
  }

  .full_width {
    width: 100%;
  }

  .full_width img {
    width: 100%;
  }

  /*↓page01↓*/
  .page01_right a {
    top: 90px;
    left: 180px;
  }

  #page01_flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .page01_left {
    padding-top: 80px;
  }

  .page01_right {
    width:100%;
    padding-top: 80px;
  }

  /*↓page02↓*/
  .page02_flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .page02_flex p:first-child {
    padding-top: 0;
  }

  #page02_top_left {
    width: 100%;
    padding: 0;
  }

  #page02_top_left img {
    width: 100%;
    padding-bottom: 50px;
  }

  #page02_top_right {
    width: 100%;
    padding-left: 0;
  }

  .number img {
    width: 70px;
  }

  figure {
    width: 100%;
    padding: 0 0 50px 0;
  }

  figure img {
    width: 100%;
  }

  figcaption {
    width: 100%;
    height: fit-content;
    padding: 0 0 40px 0;
    position: static;
  }

  .detail {
    position: static;
  }

  /*↓page03↓*/
  .title_underline {
    width: 80%;
  }

  article {
    padding: 50px 0 100px 0;
    width: 100%;
    margin: 0 auto;
  }

  article h3 {
    margin-bottom: 40px;
  }

  article p {
    padding-bottom: 40px;
    line-height: 1.5;
  }

  /*スライドショー*/
  .slide_container {
    width: 100%;
    overflow: hidden;
  }

  .slide_wrapper {
    display: flex;
    width: max-content;
    animation: slide-flow 30s linear infinite;
  }

  .slide {
    width: 300px;
    flex-shrink: 0;
    object-fit: cover;
    border: 1px solid #ccc;
  }

  @keyframes slide-flow {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }


}