* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efece3;
    font-family: "Roboto", "Noto Serif JP", serif;
    scroll-behavior: smooth;
    overflow-y: scroll;

}

ul {
    list-style-type: none;
    padding-left: 30px;
}

.san_serif {
    line-height: 0;
}

.small {
    font-size: 15px;
}

/*--header--*/
header {
    position: relative;
    height: 0;
}

/*--SHOPアイコン--*/
.shop_icon {
    width: 48px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.shop_link a img {
    width: 48px;
    transition: transform 0.3s ease;
}

.shop_link a:hover img {
    transform: scale(1.3);
}

.shop_link {
    overflow: hidden;
    display: inline-block;
}

/*--pc→黒アイコン,sp→白アイコン--*/
.pc {
    display: block;
}

.sp {
    display: none;
}

/*--メインコンテンツ--*/
#wrapper {
    width: 100%;
}

.flex-between {
    height: 100%;
}

h1 {
    background-image: url(../img/amane_logo.png);
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position: center;
    width: 20%;
    height: 100vh;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.mainview {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    margin-bottom: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.mainview img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.main_nav {
    width: fit-content;
    list-style: none;
    margin: auto;
    font-size: 18px;
    font-family: "Noto Serif JP", serif;
}

.main_nav li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 15px 0;
}

.main_nav li a.line {
    padding-bottom: 5px;
    position: relative;
}

/*hoverアニメーション*/
.main_nav ul {
    gap: 32px;
}

.main_nav a {
    display: block;
    width: 100px;
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 1px 0;
}

.main_nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #000;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;

}

.main_nav a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

/*----↓CSSアニメーション↓----*/
.family img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.family {
    opacity: 0;
    animation: fadeIn 4s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    font-weight: normal;
    text-align: center;
    font-family: "Noto Serif JP", serif;
    padding: 50px 0;
}

#text_box {
    width: 100%;
    padding-bottom: 80px;
}

#text_concept {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: fit-content;
    margin-block: auto;
    max-height: 100%;
    overflow-x: visible;
}

#text_concept h3 {
    font-size: 26px;
    white-space: nowrap;
    letter-spacing: 0.1em;
}

#text_concept p {
    padding-block: 20px;
    padding-inline: 10px;
    line-height: 40px;
}


/*品種*/

.img_box {
    padding-bottom: 100px;
}

.img_box img {
    width: 20vw;
    height: auto;
}

/*商品*/
h4 {
    text-align: center;
}


.flex-center {
    justify-content: center;
    gap: 40px;
}

.img_box ul {
    padding-left: 0;
    margin: 0 20px;
}

.img_box ul li p {
    text-align: center;
}

/*ホバーアニメーション*/
.img_box li {
    transition: 0.75s;
}

.img_box li:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/*住所*/
address {
    text-align: center;
    font-style: normal;
}

address p {
    margin-bottom: 10px;
}

#map {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    overflow: hidden;
    margin: 50px 0 100px 0;

}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*お問い合わせ*/
form {
    background-color: #435663;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    font-family: "Philosopher", sans-serif;
    font-style: normal;
    width: 40vw;
    max-width: 520px;
    margin: 0 auto;
    padding: 30px 50px 30px 30px;
}

.form_row {
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    width: 80%;
}

.form_row.full {
    width: 100%;
}

.form_row label {
    text-align: left;
}

.form_row input,
.form_row textarea {
    width: 100%;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}

.form_row.textarea {
    align-items: flex-start;
}

.form_row textarea {
    height: 120px;
    resize: vertical;

}

button {
    background: #313647;
    color: #fff;
    border: none;
    padding: 10px 36px;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

.submit_button {
    text-align: center;
    padding-top: 30px;
}

/*footer*/
footer {
    background-color: #313647;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
}

/*-----↓スマホ↓------*/

@media (max-width: 768px) {

    .top {
        flex-direction: column;
    }

    /*SHOPアイコン*/
    /*--pc→黒アイコン,sp→白アイコン--*/
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }


    .flex .flex-between .top {
        position: relative;
    }

    h1 {
        background-image: url(../img/amane_logo_white.png);
        position: absolute;
        top: 5%;
        background-size: 100% auto;
        background-position: top;
        width: 25%;
        height: 50%;
    }

    .mainview {
        width: 100%;
    }

    .mainview img {
        width: 100%;
    }

    .main_nav {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 100;
    }

    .main_nav ul li a {
        color: #fff;
    }

    /*CSSアニメーション*/

    .main_nav a::after {
        background-color: #fff;
    }

    /*コンセプト*/

    #text_concept p {
        line-height: 25px;
    }

    /*商品*/
    .flex-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    .img_box ul {
        padding-left: 0;
        margin: 0 auto;
    }

    .img_box ul li {
        width: 40%;
        margin-bottom: 20px;
    }

    .img_box img {
        width: 100%;
        height: auto;
    }

    .img_box ul li p {
        text-align: center;
    }

    .img_box {
        padding-bottom: 100px;
    }

    /*地図*/
    #map {
        padding-bottom: 60%;
    }

    /*お問い合わせ*/
    form {
        background-color: #435663;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        width: 80%;
        max-width: none;
        margin: 0 auto;
        padding: 30px 50px 30px 30px;
    }

    .form_row {
        grid-template-columns: 140px 1fr;
        align-items: center;
        gap: 16px;
        margin-bottom: 20px;
        width: 100%;
    }

}